--- 
---

@import 'vendors/bootstrap'
@import 'vendors/fa'
@import 'pages/index'

#week-page-row
    height: calc(100vh - 56px)
    overflow: hidden
    position: relative
#left
    background: green

#right
    overflow: scroll

